alembic==1.7.1
anastruct==1.1.2
click==8.0.1
colorama==0.4.4
cycler==0.10.0
Flask==1.1.2
Flask-Migrate==3.1.0
Flask-Script==2.0.6
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.15.1
greenlet==1.1.1
gunicorn==20.1.0
importlib-metadata==4.8.1
importlib-resources==5.2.2
itsdangerous==2.0.1
Jinja2==3.0.1
kiwisolver==1.2.0
Mako==1.1.5
MarkupSafe==2.0.1
matplotlib==3.0.3
mpmath==1.1.0
numpy==1.19.0
pyparsing==2.4.7
python-dateutil==2.8.1
scipy==1.7.3
six==1.15.0
SQLAlchemy==1.4.23
sympy==1.4
typing-extensions==3.10.0.2
Werkzeug==1.0.1
WTForms==2.3.3
WTForms-SQLAlchemy==0.2
zipp==3.5.0
