        <div class="col-9">
            <div class="container">

            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/dosagem/{{ id }}">Piloto</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/auxiliar/{{ id }}">Auxiliar</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/corpo_de_prova/{{ id }}">Corpo de Prova</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/resultados/{{ id }}">Resultados</a>
              </li>
            </ul>
        <br>
