{% extends 'base.html' %}

{% block content %}


<h1>Editar Ensaio</h1>

<div class="container">
    <form method="POST">
        {{ form.hidden_tag() }}
    
        {{ form.nome.label }}<br>
        {{ form.nome(size=15, value=editar.nome) }}<br>

        {{ form.piloto.label }}<br>
        {{ form.piloto(size=3, value=editar.piloto) }}<br>

        {{ form.rico.label }}<br>
        {{ form.rico(size=3, value=editar.rico) }}<br>

        {{ form.pobre.label }}<br>
        {{ form.pobre(size=3, value=editar.pobre) }}<br>

        {{ form.pesobrita.label }}<br>
        {{ form.pesobrita(size=3, value=editar.pesobrita) }}<br>

        {{ form.slump.label }}<br>
        {{ form.slump(size=3, value=editar.slump) }}<br>

        {{ form.submit }}
    </form>
</div>


{% endblock %}
